:root {
  --red: hsl(0, 100%, 68%);
  --darkBlue: hsl(230, 29%, 20%);
  --darkGrayishBlue: hsl(230, 11%, 40%);
  --grayishBlue: hsl(231, 7%, 65%);
  --lightGrayishBlue: hsl(207, 33%, 95%); }

body {
  box-sizing: border-box; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main {
  width: 100%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo header" "pitch-intro pitch-visual" "footer footer";
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  /* body text font */
  font-family: 'Barlow Condensed', sans-serif;
  /* for headings, CTAs and nav */ }

.logo {
  grid-area: logo;
  margin: 50px 0 50px 8rem; }

.header {
  display: grid;
  grid-area: header;
  justify-items: center;
  align-content: center; }

.burger-menu {
  display: none;
  visibility: hidden; }

.mobile-nav {
  display: none;
  visibility: hidden; }

.nav-menu li {
  list-style: none;
  display: inline;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  color: var(--darkBlue);
  font-weight: 700;
  font-size: 14px;
  padding: 0 20px;
  letter-spacing: 1px;
  cursor: pointer; }

.nav-menu li:hover {
  text-decoration: underline; }

.nav-menu span li {
  color: var(--grayishBlue); }

.nav-menu ul li.spacer {
  color: var(--grayishBlue);
  opacity: 0.6;
  font-size: 1.75rem;
  vertical-align: text-bottom;
  cursor: initial; }

.nav-menu ul li.spacer:hover {
  text-decoration: none; }

#burger-check {
  display: none;
  visibility: hidden; }

.label-style {
  display: none;
  visibility: hidden; }

.pitch {
  grid-area: pitch-intro;
  margin-left: 8rem;
  padding-top: 40px; }

h3, h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  color: var(--grayishBlue); }

h3 span {
  background-color: var(--darkBlue);
  color: white;
  padding: 3px 10px 5px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  margin-right: 6px; }

.pitch h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: var(--darkBlue);
  letter-spacing: 1px;
  line-height: 3.75rem;
  margin-top: 1.35rem;
  max-width: 80%; }

.pitch p {
  color: var(--grayishBlue);
  font-family: 'Barlow', sans-serif;
  margin-top: 2rem;
  max-width: 50%; }

p {
  color: var(--darkGrayishBlue);
  font-family: 'Barlow', sans-serif; }

h2 {
  display: inline-block;
  letter-spacing: 4.5px; }

.demo {
  margin-top: 50px; }

button {
  background-color: var(--red);
  color: var(--lightGrayishBlue);
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  border: 2px solid var(--lightGrayishBlue);
  padding: 12px 20px;
  margin-right: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer; }

button:hover {
  background-color: #ff9494; }

.pitch-image {
  grid-area: pitch-visual; }

.pitch-image img {
  width: 100%;
  margin-bottom: 45px; }

.image-bg {
  width: 100%;
  height: 65%;
  background-color: var(--lightGrayishBlue);
  grid-column-start: 2;
  grid-row: header-start / pitch-visual-end;
  border-bottom-left-radius: 85px;
  z-index: -100; }

/* footer styles */
footer {
  display: grid;
  grid-area: footer;
  justify-content: center; }

.attribution {
  font-size: 11px; }

.attribution a {
  color: #3e52a3; }

@media only screen and (min-width: 300px) and (max-width: 667px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-template-areas: "logo header" "pitch-visual pitch-visual" "pitch-intro pitch-intro" "footer footer"; }
  .logo {
    grid-area: logo;
    margin: 28px 0 0 25px; }
  .header {
    grid-area: header; }
  .header ul {
    display: none; }
  .burger-menu {
    display: block;
    visibility: visible; }
  .header .burger-menu {
    display: block;
    position: absolute;
    right: 3em;
    width: 2em;
    z-index: 1;
    margin-top: 2.2em; }
  .header .burger-menu input {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10000;
    top: -20px;
    left: -8px;
    opacity: 0; }
  .header .burger-menu label {
    display: block;
    transition: .3s ease; }
  .header .burger-menu label .burger-menu-icon span {
    display: block;
    width: 100%;
    height: .19rem;
    margin-bottom: .4rem;
    border-radius: 20%;
    background: var(--darkBlue);
    transition: .3s ease; }
  .header .burger-menu label .burger-menu-icon span:before, .header .burger-menu label .burger-menu-icon span:after {
    content: '';
    top: -12px;
    width: 100%;
    height: .19rem;
    border-radius: 20%;
    background: inherit;
    /*inherit value from parent*/
    position: absolute;
    transition: all 0.4s ease; }
  .header .burger-menu label .burger-menu-icon span:before {
    top: 12px; }
  /* turn bars into a cross */
  .burger-menu input:checked + .burger-menu-active + label .burger-menu-icon span:before,
  .burger-menu input:checked + .burger-menu-active + label .burger-menu-icon span:after {
    top: 0;
    transform: rotate(90deg); }
  .burger-menu input:checked + .burger-menu-active + label .burger-menu-icon span {
    transform: rotate(225deg); }
  .header .burger-menu .burger-menu-active {
    position: absolute;
    height: 0;
    top: 3.5rem;
    right: 0;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: .35s ease; }
  .header .burger-menu label .burger-menu-active a.button {
    margin-right: 0;
    margin-bottom: -4px; }
  .header .burger-menu input:checked + .burger-menu-active {
    height: 14.5rem;
    opacity: 1;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.14); }
  .header .burger-menu .burger-menu-active a {
    display: none; }
  .header .burger-menu input:checked + .burger-menu-active a {
    display: block;
    color: var(--darkBlue);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 25px 0;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px; }
  /* login grey styles */
  .header .burger-menu input:checked + .burger-menu-active a:last-of-type {
    color: var(--grayishBlue);
    border-top: 1px solid var(--grayishBlue);
    padding-top: 20px; }
  .nav-menu ul li.spacer {
    display: none;
    visibility: hidden; }
  .pitch-image {
    grid-area: pitch-visual;
    margin-top: 35px; }
  .pitch {
    grid-area: pitch-intro;
    margin: 0 25px 35px 25px;
    padding-top: 20px; }
  .pitch h3 {
    font-size: 14px; }
  .pitch h1 {
    font-size: 32px;
    line-height: 2rem;
    max-width: 100%;
    line-height: 2rem; }
  .pitch p {
    max-width: 100%;
    margin-top: 1rem;
    font-size: 16px; }
  .demo {
    margin-top: 20px;
    display: inline-block; }
  button {
    font-size: 12px;
    padding: 10px 12px;
    margin-right: 5px; }
  .demo h2 {
    font-size: 12px;
    letter-spacing: 3.5px; }
  .image-bg {
    height: 100%;
    z-index: -100; }
  /* menu fade */
  @keyframes fadein {
    from {
      background: rgba(168, 20, 52, 0); }
    to {
      background: #a81434; } }
  @keyframes fadeout {
    from {
      background: #a81434; }
    to {
      background: rgba(168, 20, 52, 0); } } }

@media only screen and (min-width: 668px) and (max-width: 945px) {
  .logo {
    margin: 40px 0 50px 4rem; }
  .nav-menu li {
    font-size: 14px;
    padding: 0 10px; }
  .pitch {
    margin-left: 4rem;
    padding-top: 20px; }
  .pitch h1 {
    font-size: 48px;
    max-width: 95%;
    line-height: 3rem; }
  .pitch p {
    margin-top: 1.5rem;
    max-width: 90%; }
  .demo {
    margin-top: 30px;
    width: 100%; }
  .demo button {
    margin-right: 0;
    display: inline-block; }
  .demo h2 {
    font-size: 13px;
    letter-spacing: 3.25px;
    display: inline-block; } }
