:root {
    --red: hsl(0, 100%, 68%);
    --darkBlue: hsl(230, 29%, 20%);
    --darkGrayishBlue: hsl(230, 11%, 40%);
    --grayishBlue: hsl(231, 7%, 65%);
    --lightGrayishBlue: hsl(207, 33%, 95%);
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 18px;
    max-width: 1440px;
    font-family: 'Barlow', sans-serif; /* body text font */
    font-family: 'Barlow Condensed', sans-serif; /* for headings, CTAs and nav */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main {
    margin-left: 10.31rem;
    margin-right: 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "pitch-intro pitch-visual"
    "footer footer";
}

.header {
    grid-area: header;
    margin: 50px 0;
}

.nav-menu {
    float: right;
    margin-top: -40px;
}

.nav-menu li {
    list-style: none;
    display: inline;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: var(--darkBlue);
    font-weight: 700;
    font-size: 14px;
    padding: 0 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.nav-menu span li {
    color: var(--grayishBlue);
}

.nav-menu ul li.spacer {
    color: var(--grayishBlue);
    opacity: 0.6;
    font-size: 1.75rem;
    vertical-align: text-bottom;
}

#burger-check {
    display: none;
    visibility: hidden;
}

.label-style {
    display: none;
    visibility: hidden;
}

.pitch {
    grid-area: pitch-intro;
}

h3, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    color: var(--grayishBlue);
}

h3 span {
    background-color: var(--darkBlue);
    color: white;
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    margin-right: 6px;
}

h1 {
    font-size: 58px;
    text-transform: uppercase;
    color: var(--darkBlue);
    letter-spacing: 1px;
    line-height: 3.75rem;
    margin-top: 1.35rem;
}

p {
    color: var(--darkGrayishBlue);
    font-family: 'Barlow', sans-serif;
    max-width: 55%;
}

h2 {
    display: inline-block;
    letter-spacing: 4.5px;
}

.demo {
    margin-top: 50px;
}

button {
    background-color: var(--red);
    color: var(--lightGrayishBlue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    border: 2px solid var(--lightGrayishBlue);
    padding: 12px 20px;
    margin-right: 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 100%, 79%);
}

.pitch-image {
    grid-area: pitch-visual;
}

.image-bg {
    width: 100%;
    height: 65%;
    background-color: var(--lightGrayishBlue);
    grid-column-start: 2;
    grid-row: header-start / pitch-visual-end;
    border-bottom-left-radius: 85px;
    z-index: -100;
  }



/* footer styles */
footer {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    align-content: center;
}

.attribution { 
    width: 100%;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
    
    /* mobile nav styles */
    .label-style {
        width: 46px;
        height: 46px;
        right: 15px;
        top: 15px;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        transition: all 0.4s ease;
    }

    .burger-box {
        width: 100%;
        height: 100%;
        display: block;
        padding-top: 21px;
        padding-left: 3px;
    }

    #burger-check {
        display: none;
    }

    /* nav bar lines */
    .bar {
        width: 40px;
        height: 4px;
        border-radius: 20%;
        background: var(--darkBlue);
        position: relative;
    }

    .bar:before, .bar:after {
        content: '';
        top: -12px;
        width: 40px;
        height: 4px;
        border-radius: 20%;
        background: inherit;
        position: absolute;
        transition: all 0.4s ease;
    }

    .bar:after {
        top: 12px;
    }

    /* turn bar into cross */
    input:checked ~ .label-style > .burger-box > .bar:before,
    input:checked ~ .label-style > .burger-box > .bar:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* spin the cross */
    input:checked ~ .label-style > .burger-box {
        transform: rotate(225deg);
    }

    /* drop down menu */
    .nav-menu {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        transform: translate(0, -120%);
        transition: transform 0.4s ease;
    }

    input:checked ~ .nav-menu {
        transform: translate(0, 0);
        animation: fadein;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    input:not(checked) ~ .nav-menu {
        animation: fadeout;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    li {
        list-style: none;
        padding: 20px 35px;
        text-transform: uppercase;
        color: var(--darkBlue);
    }

    a {
        letter-spacing: 2px;
    }

    .nav-menu ul li.spacer {
        display: none;
        visibility: hidden;
    }

    /* menu fade */
    @keyframes fadein {
        from {background: rgba(168, 20, 52, 0);}
        to {background: rgba(168, 20, 52, 1);}
    }

    @keyframes fadeout {
        from {background: rgba(168, 20, 52, 1);}
        to {background: rgba(168, 20, 52, 0);}
    }

}

